.main-client {
	&__item,
	&__button-list {
		display: flex;
		align-items: center;
	}
	&__list {
		margin: 0 0 89px;
	}
	&__item {
		background: #fff;
		box-shadow: 0px 0px 30px rgba(202, 221, 255, 0.55);
		border-radius: 10px;
		margin: 0 0 21px;
		padding: 23.5px 30px;
		&:last-child {
			margin: 0;
		}
	}
	&__name,
	&__subdomain {
		font-size: 18px;
		line-height: 39px;
	}
	&__name {
		font-weight: 600;
		width: 40%;
	}
	&__subdomain {
		width: 40%;
	}
	&__button-list {
		margin: 0 0 0 auto;
		gap: 24px;
	}
	&__item-btn {
		fill: #E5ECF9;
		&.play {
			fill:#6FCF97;
		}
		&:hover {
			transform: scale(1.4);
		}
	}
	&__btn-plus-icon {
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
	}
}