.error {
}

.errorTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 3.28057px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #7791c2;

  margin-top: 41px;
}

.centerText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #272557;
}

.centerNums {
  width: 100%;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 36px;

  img {
    margin-right: 21px;
  }
}

.errorText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #272557;
  width: 35%;
  margin-top: 39px;
  margin: 0 auto;
  margin-top: 39px;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #272557;
  width: 199px;
  height: 41px;
  background: #1565c0;
  border-radius: 30px;
  margin: 0 auto;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0595px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 38px;
  border: none;
  display: block;
  margin-bottom: 101px;
  cursor: pointer;
}
