.changePasswordTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  color: #272557;
  margin-bottom: 30px;
  margin-top: 40px;
}

.form {
  height: 429px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(202, 221, 255, 0.55);
  border-radius: 10px;
  margin: 0 auto;
  padding: 25px 35px;
  margin-bottom: 87px;

  width: 536px;
  margin-bottom: 163px;
  height: 353px;
}

.formInputWr {
  margin-bottom: 35px;
}

.formInputText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.07875px;
  color: #272557;
  margin-bottom: 11px;
}

.formInput {
  height: 44px;
  border: 1px solid #e5ecf9;
  border-radius: 7px;
  width: 100%;
  padding: 9px 22px;
}

.formBottom {
  display: flex;
  justify-content: space-between;

  width: 56%;
  margin: 30px auto 0;
}

.formCancel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 39px;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1565c0;
  cursor: pointer;
}

.formBtn {
  width: 182px;
  height: 41px;
  background: #1565c0;
  border-radius: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0595px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.avatarImg {
  width: 176px;
  height: 176px;
  border-radius: 100px;
}

.formCenter {
  margin-top: 22px;

  display: grid;
  grid-template-columns: 1fr 52%;
  /* height: 226px; */
}

.formRight {
  border: 1px dashed #e0e0e0;
  border-radius: 5px;
  width: 100%;
  height: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.formRight {
  height: 156px;
  flex-direction: column;
}

.clip {
  margin-top: 14px;
  margin-bottom: 7px;
}

.formRightCent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.07875px;
  color: #1565c0;
}

.formRIghtCent2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.07875px;
  color: #9e9e9e;
}

.formFile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
