.main{
    display: flex;
    gap: 13px;
    padding-top: 3px;
}
.main__right{
    display: flex;
    flex-direction: column;
    gap: 0;

}
.title{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0595px;
    color: #272557;
    padding-top: 5px;
}
.descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3px;
    color: #9E9E9E;
    max-width: 295px;
    padding-top: 3px;
}
.input{
    width: 18px;
    height: 18px;
}